html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #vanta-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
 
  
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0000f9;
    color: #333;
    padding: 20px;
}

/* Header Styling */
header {
    background: #0078d7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

.button-container {
  position:fixed;
  left: 0;
  right: 0;
  bottom: 80px;
  display: flex;
  justify-content: center;
}

/* Button Styling */
.button {
  font-family: Inter, sans-serif;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 100px;
  transition: all 0.5s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.button:hover {
  scale: 1.1;
}

.button:hover .icon {
  fill: #ffff00;
  scale: 1.1;
  rotate: 360deg;
  filter: drop-shadow(0 0 5px rgba(255, 208, 0, 0.8))
    drop-shadow(0 0 10px rgba(255, 208, 0, 0.6));
}

.button:hover .text {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
}

.text {
  transition: all 1s ease;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  transition: all 1s ease;
}

footer {
    background: transparent;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed; /* fijo */
    bottom: 0;
    left: 0;
}